/* ID = HASHTAG, CLASS = DOT */


/******************** LOGIN AND REGISTER .ASPX ********************/

#loginform {
    float: left;
    width: 300px;
    margin-top: 100px;
    margin-left: 115px;
}

#registerform {
    float: right;
    width: 300px;
    margin-top: 100px;
    margin-right: 215px;
}

#txtboxEmail1 {
    width: 147px;
    margin-top: -10px;
}

#txtboxEmail2 {
    width: 147px;
    margin-top: -10px;
}

#txtboxUsername {
    width: 147px;
    margin-top: -10px;
}

#txtboxPassword1 {
    width: 147px;
    margin-top: -10px;
}

#txtboxPassword2 {
    width: 147px;
    margin-top: -10px;
}

#txtboxConfirmPassword {
    width: 147px;
    margin-top: -10px;
}

#btnLogin {
    margin-top: 10px;
    padding-left:  55px;
    padding-right: 55px;
}

#btnRegister {
    margin-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
}


/******************** LOGIN AND REGISTER .ASPX ********************/




body {
    width: auto;
}

#login {
    display: inline;

}

p.login {
    text-align: right;
}

#nav-bar {
    width: 1000px;
    margin: auto;
}

h1 {
    font-family: arial;
    font-size: 60px;
    text-align: center;
    color: silver;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    word-spacing: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

.auto-style1 {
    margin-left: 640px;
}
.auto-style2 {
    margin-left: 40px;
}
.auto-style3 {
    margin-left: 80px;
}
.auto-style4 {
    direction: ltr;
    margin-left: 520px;
}
.auto-style5 {
    width: 160px;
    margin-left: 640px;
}

.auto-styles6 {
    width: auto;
    margin-left: 700px;
}

/* #logo {
  float: left;
  position: relative;
  z-index: 102;
  display: block;
} */

#logo img {
        width: 180px;
        height: 180px;
 }

#main-nav li {
    display: inline;
    position: relative;
}


#main-nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    margin-left: 200px;
    padding: 0;
    background-color: #fff;
}

#main-nav ul li {
    display:inline-block;
}

#main-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #aaa;
}

#main-nav ul li:hover ul {
    display: block;
    margin-left:-15px;
}

#main-nav ul ul /*Shelves*/ {
    display: none;
    width: 130px;
    height: 175px;
    position: absolute;
    background-color: #fff;
}

#main-nav ul ul li { 
     display: block;
}

#banner {
    width: auto;
    align-content: center;

}


/* HOVER FROM ALID **********/


.books {
    float: right;
    border: 5px solid black;
    margin: 80px 50px 50px 50px;
    border: 3px solid grey;
    margin-top: 1px;
    position: relative;
    width: 225px;
    height: 270px;
    overflow: hidden;
}

.books img {
    height: 100%;
    width: 100%;
}

.books .prodtext {
    position: absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; 
    height: 100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.books:hover .prodtext {
    top: 0px;
}
.books .prodtext h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.books .prodtext p {
    margin: 15px 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-family: arial;
    color: black;
    text-shadow: -1px 0 lightgray, 0 1px lightgray, 1px 0 lightgray, 0 -1px lightgray;
}

/* HOVER FROM ALID **********/


/* HOVER FROM WORK **********/

/* HOVER FROM WORK **********/



ContactPage {
    text-align: center;
}

#banner ul ul li {
     display: block;
}

.newitemwrapper-spotlight {
    margin-top: 50px;
    margin-bottom: 50px;
}

.newitemwrapper-contactform {
    margin-top: 50px;
    margin-bottom: 10px;
}

.newitemwrapper-contactmap {
    margin: auto;
}

.newitemwrapper-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner img {
    align-content: center;
    margin-left: 300px;
}

.newitemwrapper-spotlight h2 {
    text-align: center;
    margin-left: 100px;
}

h2 {
    font-family: arial;
    font-size: 40px;
    text-align: center;
    color: silver;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    word-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 100px;
    padding-top: 10px;
    padding-top: 45px;
    padding-bottom: 5px;
}


h4 {
    font-family: verdana;
    font-size: 10px;
    text-align: left;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 

}


#map {
    height: 250px;
    width: 30%;
    align-content: center;
    float: left;
    margin-right: 10px;
    margin-left: 300px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#map-static {
    height: auto;
    width: auto;
    align-content: center;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/****************************** MODAL NOVEL ******************************/


#myModalBtn1 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn1 img {
    height: 250px;
    width: 175px;
}

#myModalBtn2 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn2 img {
    height: 250px;
    width: 175px;
}

#myModalBtn3 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn3 img {
    height: 250px;
    width: 175px;
}

#myModalBtn4 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn4 img {
    height: 250px;
    width: 175px;
}

#myModalBtn5 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn5 img {
    height: 250px;
    width: 175px;
}

#myModalBtn6 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn6 img {
    height: 250px;
    width: 175px;
}

#myModalBtn7 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn7 img {
    height: 250px;
    width: 175px;
}

#myModalBtn8 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn8 img {
    height: 250px;
    width: 175px;
}

#myModalBtn9 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn9 img {
    height: 250px;
    width: 175px;
}

#myModalBtn10 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn10 img {
    height: 250px;
    width: 175px;
}

#myModalBtn11 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn11 img {
    height: 250px;
    width: 175px;
}

#myModalBtn12 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn12 img {
    height: 250px;
    width: 175px;
}

#myModalBtn13 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn13 img {
    height: 250px;
    width: 175px;
}

#myModalBtn14 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn14 img {
    height: 250px;
    width: 175px;
}

#myModalBtn15 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn15 img {
    height: 250px;
    width: 175px;
}

#myModalBtn16 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn16 img {
    height: 250px;
    width: 175px;
}

#myModalBtn17 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn17 img {
    height: 250px;
    width: 175px;
}

#myModalBtn18 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn18 img {
    height: 250px;
    width: 175px;
}

#myModalBtn19 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn19 img {
    height: 250px;
    width: 175px;
}

#myModalBtn20 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn20 img {
    height: 250px;
    width: 175px;
}

#myModalBtn21 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn21 img {
    height: 250px;
    width: 175px;
}

#myModalBtn22 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn22 img {
    height: 250px;
    width: 175px;
}

#myModalBtn23 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn23 img {
    height: 250px;
    width: 175px;
}

#myModalBtn24 {
    margin-left: 100px;
    margin-top: 100px;
    padding: 7px 7px;
}

#myModalBtn24 img {
    height: 250px;
    width: 175px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: silver;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: silver;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: silver;
}

/****************** CONTACT PAGES VALIDATION ********************/

litResult {
    margin-left: 500px;
}

.required {
    color: red;
}

/****************** CONTACT PAGES VALIDATION ********************/

/* .back-to-top {
    background: none;
    margin: 40px 40px;
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    display: none;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}
 
.back-to-top i {
    font-size: 70px;
    align-content: center;
}

.up-top i {
    font-size: 70px;
    align-content: center;
    text-align: center;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #aaa}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} */

#myGoTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myGoTopBtn:hover {
  background-color: #555;
}


h3 {
    font-family: 'Geneva, sans-serif';
    font-size: 12.5px;
    text-align: center;
}

#footer {
    width: 100%;
    display: table;
    color: black;
    background-color: #e6e6e6;
    margin: 200px 0px -100px 0px;
    padding: 7px;
}

h6 {
    font: verdana;
    font-size: 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}