body {
    ;
}

#login {
    display: inline;

}

p.login {
    text-align: right;
}

#nav-bar {
    width: 1000px;
    margin: auto;
}

.h1 {
    font: denmark;
    font-size: 100px;
    text-align: center;
}

.auto-style1 {
    margin-left: 640px;
}
.auto-style2 {
    margin-left: 40px;
}
.auto-style3 {
    margin-left: 80px;
}
.auto-style4 {
    direction: ltr;
    margin-left: 520px;
}
.auto-style5 {
    width: 160px;
    margin-left: 640px;
}

/* #logo {
  float: left;
  position: relative;
  z-index: 102;
  display: block;
} */

#logo img {
        width: 180px;
        height: 180px;
 }

#main-nav li {
    display: inline;
    position: relative;
}


#main-nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    margin-left: 200px;
    padding: 0;
    background-color: #fff;
}

#main-nav ul li {
    display:inline-block;
}

#main-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #aaa;
}

#main-nav ul li:hover ul {
    display: block;
    margin-left:-15px;
}

#main-nav ul ul /*Shelves*/ {
    display: none;
    width: 130px;
    height: 295px;
    position: absolute;
    background-color: #fff;
}

#main-nav ul ul li {
     display: block;
}

#banner {
    width: auto;
    align-content: center;

}

#feature h2 {
    text-align: center;
    margin-top: 50px;
}

a:hover {
    position: relative;
}

a:hover:after {
    content: url(images/logo1.1.jpg); /* no need for qoutes */
    display: block;
    position: absolute;
    /* left: 123px; change this value to one that suits you */
    /* top: 56px; change this value to one that suits you */
}

/* HOVER FROM ALID **********/

.item1
{
    float:left;
    border:5px solid burlywood;
    margin:50px 20px 0px 60px;
    border: 3px solid rosybrown;
    margin-top: 50px;
    position:relative;
    width:200px;
    height:200px;
    overflow:hidden;
}

.item1 img
{
    height: 100%;
    width: 100%;
}

.item1 .prodtext
{
    position:absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width:100%; 
    height:100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition:all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.item1:hover .prodtext
{
    top:0px;
}
.item1 .prodtext h4
{
    font-size: 15px;
    font-weight:bold;
    text-align:center;
    border-bottom: 1px solid brown;
    padding-bottom:10px;
    margin-top: 10px;
}

.item1 .prodtext p
{
    margin: 15px 0px;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
}

/* HOVER FROM ALID **********/


#spotlight li {
    display: inline;
    position: relative;
}


#spotlight ul {
    list-style-type: none;
    margin: 0px 100px 0px 0px;
    margin-left: 150px;
    padding: 10px;
    background-color: #fff;
}

#spotlight ul li {
    display: inline-block;
    border: 1.5px solid black;
}

#spotlight li a {
    display: block;
    color: black;
    text-align: center;
    padding: 90px 90px;
    text-decoration: none;
}

#spotlight ul li a:hover {
    background-color: #aaa;
}

#spotlight ul li:hover ul {
    display: block;
    margin-left:-15px;
}

#banner ul ul li {
     display: block;
}




.footer {
    margin-right: 100px;
    display: table;
    color: black;
    background-color: #aaa;
}

#footer-1 {
    text-align: center; 
    display: table;
    color: black;
    background-color: #aaa;
} 

#footer-2 {
    text-align: center;
    display: table;
    color: black;
    background-color: #aaa;
}

#footer {
    text-align: center;
    background-color: silver;
    color: black;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
