/* ID = HASHTAG, CLASS = DOT */

body {
    width: auto;
}

#login {
    display: inline;

}

p.login {
    text-align: right;
}

#nav-bar {
    width: 1000px;
    margin: auto;
}

h1 {
    font: denmark;
    font-size: 40px;
    text-align: center;
}

.auto-style1 {
    margin-left: 640px;
}
.auto-style2 {
    margin-left: 40px;
}
.auto-style3 {
    margin-left: 80px;
}
.auto-style4 {
    direction: ltr;
    margin-left: 520px;
}
.auto-style5 {
    width: 160px;
    margin-left: 640px;
}

.auto-styles6 {
    width: auto;
    margin-left: 700px;
}

/* #logo {
  float: left;
  position: relative;
  z-index: 102;
  display: block;
} */

#logo img {
        width: 180px;
        height: 180px;
 }

#main-nav li {
    display: inline;
    position: relative;
}


#main-nav ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    margin-left: 200px;
    padding: 0;
    background-color: #fff;
}

#main-nav ul li {
    display:inline-block;
}

#main-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: #aaa;
}

#main-nav ul li:hover ul {
    display: block;
    margin-left:-15px;
}

#main-nav ul ul /*Shelves*/ {
    display: none;
    width: 130px;
    height: 175px;
    position: absolute;
    background-color: #fff;
}

#main-nav ul ul li { 
     display: block;
}

#banner {
    width: auto;
    align-content: center;

}

/* HOVER FROM ALID **********/


.item1 {
    float: right;
    border: 5px solid black;
    margin: 80px 50px 50px 50px;
    border: 3px solid grey;
    margin-top: 80px;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.item1 img {
    height: 100%;
    width: 100%;
}

.item1 .prodtext {
    position: absolute;
    top: -100%;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%; 
    height: 100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.item1:hover .prodtext {
    top: 0px;
}
.item1 .prodtext h4 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
}

.item1 .prodtext p {
    margin: 15px 0px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/* HOVER FROM ALID **********/


/* HOVER FROM WORK **********/

/* HOVER FROM WORK **********/





#banner ul ul li {
     display: block;
}

.newitemwrapper-spotlight {
    margin-top: 100px;
    margin-bottom: 10px;
}

.newitemwrapper-contactform {
    margin-top: 50px;
    margin-bottom: 10px;
}

.newitemwrapper-contactmap {
    margin: auto;
}

.newitemwrapper-footer {
    margin-top: 50px;
    margin-bottom: 50px;
}



.h2 {

    font-family: verdana;
    font-size: 15px;
}



h4 {
    font-family: verdana;
    font-size: 10px;
    text-align: left;
}


#map {
    height: 250px;
    width: 30%;
    align-content: center;
    float: left;
    margin-right: 10px;
    margin-left: 400px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#map-static {
    height: auto;
    width: auto;
    align-content: center;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Geneva, sans-serif';
    font-size: 12.5px;
    text-align: center;
}

#footer {
    width: 100%;
    display: table;
    color: black;
    background-color: #e6e6e6;
    margin: 200px 0px 0px 0px;
    padding: 7px;
}

h6 {
    font: verdana;
    font-size: 10px;
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}