<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IdentityConnectionString" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=db_1624978_co5027_asg;Persist Security Info=True;User ID=user_db_1624978_co5027_asg;Password=Co5027-ASG" providerName="System.Data.SqlClient" /><add name="db_1624978_co5027_asgConnectionString" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=db_1624978_co5027_asg;Persist Security Info=True;User ID=user_db_1624978_co5027_asg;Password=Co5027-ASG" providerName="System.Data.SqlClient" />
    <add name="db_1624978_co5027_asgConnectionString2" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=db_1624978_co5027_asg;Persist Security Info=True;User ID=user_db_1624978_co5027_asg;Password=Co5027-ASG" providerName="System.Data.SqlClient" />
    <add name="BookDetails" connectionString="Data Source=SQL2016.FSE.Network;Initial Catalog=db_1624978_co5027_asg;Persist Security Info=True;User ID=user_db_1624978_co5027_asg;Password=Co5027-ASG" providerName="System.Data.SqlClient" />
  <add name="BookSisEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WAFISUPRI-S86PJ\SQLEXPRESS;initial catalog=BookSis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="db_1624978_co5027_asgEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2016.FSE.Network;initial catalog=db_1624978_co5027_asg;persist security info=True;user id=user_db_1624978_co5027_asg;password=Co5027-ASG;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  
  
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>